/* .vip-add{ width:840px; margin:0 auto;margin-left:-420px;top:130px; height:auto;} */

.vipWarp {
  overflow: auto;
  height: auto;
}

.vip-photo {
  width: 100px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
}

.vip-photo span {
  height: 80px;
  background: #eee;
  width: 100px;
  display: block;
  padding-top: 20px;
  line-height: 24px;
  cursor: pointer;
}

.vip-photo .add-bt {
  margin-top: 10px;
}


.vip-add-form {
  width: 740px;
  padding: 10px 30px;
  float: left;
}

.vip-add-form ul form {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

.vip-add-form ul li {
  margin-bottom: 8px;
  width: 50%
}

.vip-add-form ul li .submit-bt {
  margin-right: 20px;
}

.vip-add-form ul li span.keyIcon {
  border: solid 1px #ddd;
  height: 28px;
  width: 240px;
  padding: 2px 5px;
  border-radius: 5px;
}

.vip-add-form ul li span.keyIcon .cd-form-input {
  border: none;
  float: left;
  width: 140px;
  height: 24px;
}

.vip-add-form ul li span.keyIcon i {
  background: url(../../../Theme/images/icon08.png) no-repeat left center;
  height: 30px;
  display: block;
  float: left;
  width: 28px;
  margin-left: 8px;
  cursor: pointer;
}

.vip-add-zdy {
  border: solid 1px #ddd;
  width: 507px;
  border-radius: 5px;
  float: left;
}

.vip-add-zdy ul {
  margin-top: 10px;
}

.vip-add-zdy ul li {
  margin-top: 8px;
}

.vip-add-zdy ul li span {
  width: 130px;
}

.vip-add-zdy .cd-form-input {
  width: 118px;
  height: 28px;
}

.vip-add-zdy .cd-form-select {
  width: 130px;
}

.vip-add-down {
  background: url(../../../Theme/images/lomoline.png) repeat-x left center;
  margin: 30px 0;
}

.vip-add-down i {
  display: block;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  width: 160px;
  margin: 0 auto;
  text-align: center;
  color: #41c060;
  cursor: pointer;
  background: #fff url(../../../Theme/images/icon09.png) no-repeat right;
  padding-right: 10px;
}

.order-cd {
  width: 690px;
  height: 446px;
}

.order-cd-form {
  padding: 30px
}

.order-cd-form ul li {
  margin-bottom: 10px;
}

.order-cd-form ul li em {
  display: block;
  width: 90px;
  float: left;
  font-size: 14px;
  text-align: right;
  margin: 0 10px;
  line-height: 34px;
}

.order-cd-form ul li span {
  display: block;
  width: 252px;
  float: left;
  position: relative;
}

.cd-form-input {
  border: solid 1px #ddd;
  height: 28px;
  width: 240px;
  padding: 2px 5px;
  border-radius: 5px;
}

.order-cd-form ul li .submit-bt-clear {
  margin-left: 20px;
  margin-right: 13px;
}

.cd-form-select {
  border: solid 1px #ddd;
  height: 34px;
  width: 200px;
  border-radius: 5px;
}

.cd-form-bz {
  border: solid 1px #ddd;
  height: 54px;
  width: 520px;
  border-radius: 5px;
}

.order-cd-form ul li .pw {
  width: 510px;
}

.lomo-gd {
  background: #fff;
  border-radius: 5px;
  width: 940px;
  height: 700px;
  overflow-y: auto
}

.lomo-upload-ava {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}

.lomo-upload-ava-title {
  width: 100%;
  height: 50px;
  background: #41C060;
  line-height: 50px;
}

.lomo-upload-ava-title span {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #FFFFFF;
}

.lomo-upload-ava-body {
  width: 100%;
  min-height: 400px;
  display: flex;
}

.lomo-upload-ava-left {
  width: 70%;
  margin-top: 40px;
}

.lomo-upload-ava-left>div {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.lomo-upload-ava-right {
  width: 30%;
  margin-top: 40px;
}

.lomo-upload-ava-preview {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.lomo-upload-ava-span {
  text-align: center;
  margin-top: 40px;
}

.lomo-upload-ava-span span {
  font-family: MicrosoftYaHei;
  font-size: 16px;
  color: #909090;
}

.upload img {
  width: 100px;
  height: 100px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #999;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
}

.lomo-custom {
  width: 100% !important;
}

.lomo-custom h1 {
  display: block;
  width: 90px;
  float: left;
  font-size: 14px;
  text-align: right;
  margin: 0 10px;
  line-height: 34px;
  font-weight: 600;
}

.MustCode {
  line-height: 28px;
  color: #ff0000;
  position: absolute;
  left: 254px;
  top: 5px;
}

.video-shoot {
  padding: 30px;
}

.video-shoot div {
  text-align: center;
}

.DateType {
  position: absolute;
  top: 77px;
  left: 782px;
  z-index: 6;
}

.DateType .layui-form-radio {
  margin: 0;
  padding: 0;
}
.DateType .layui-form-radio>i{
  margin: 0;
}
#timeBirthday {
  opacity: 0;
  position: absolute;
  z-index: 5;
}
#timeBirthdaySon{
  position: absolute;
  z-index: 1;
}